.navBar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(141, 141, 153);
  border-bottom: 3px solid black;
}

.title {
  color: rgba(38, 41, 168, 0.877);
  margin-left: 5px;
  font-size: xx-large;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu2 {
  text-decoration: none;
  color: rgb(28, 10, 110);
  font-size: larger;
}

.menu-link:hover {
  text-decoration: underline;
}